$primary-text-color: #000000;
$secondary-text-color: #3C57A6;
$white: #FFFFFF;
$accent-color: #F3E20E;
$accent-color-add: #9D68A0;
$accent-color-bright: #7C9FD5;
$secondary-bcg-color: #C1DBF4;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
